.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a:hover {
    color: bisque;
    background-color: tomato;
  }

  table, th, td {
    border:1px solid black;
  }

  table th {
    background-color: rgb(236, 70, 70);
  }

  table td {
    height: 20px;
  }